.about {
  min-height: 650px;
  height: 100vh;
  background-image: url('../img/about-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .section-title {
    text-align: center;
    color: #2f3234;
    margin-bottom: rem(70px);
  }
}

.about__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features__list {
  padding: 0;
  margin: 0;
  display: flex;
}

.features__item {
  width: rem(300px);
  margin-right: rem(20px);
  &:last-child {
    margin-right: 0;
  }
}

.features__pic {
  text-align: center;
  margin-bottom: rem(30px);
  height: rem(90px);
}

.features__img {
  display: inline-block;
}

.features__title {
  font-family: Lifehack;
  font-size: rem(24px);
  text-align: center;
  color: #2f3234;
  margin-bottom: rem(14px);
}

.features__desc {
  font-family: ubuntulight;
  font-size: rem(14px);
  line-height: rem(24px);
  color: rgba(#2f3234, .8);
  text-align: center;

}