.about {
  min-height: rem(650px);
  height: 100%;
  background-image: url('../img/about-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .section-title {
    text-align: center;
    color: #2f3234;
    margin-bottom: rem(70px);

    @include phones {
      margin-bottom: rem(30px);
    }
  }
}

.about__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features__list {
  padding: 0;
  margin: 0;
  display: flex;

  @include phones {
    flex-direction: column;
  }
}

.features__item {
  width: rem(300px);
  margin-right: rem(20px);
  &:last-child {
    margin-right: 0;
  }

  @include phones {
    display: flex;
    width: 100%;
    margin-bottom: rem(25px);
    margin-right: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.features__pic {
  text-align: center;
  margin-bottom: rem(30px);
  height: rem(90px);
  
  svg {
    width: rem(100px);
    height: rem(90px);
  }

  @include phones {
    margin-right: rem(28px);
    margin-bottom: 0;
  }
}

.features__pic--red {
  svg {
    fill: $red;
  }
}

.features__pic--yellow {
  svg {
    fill: $yellow;
  }
}

.features__pic--green {
  svg {
    fill: $green;
  }
}

.features__img {
  display: inline-block;
}

.features__content {
  @include phones {
    display: flex;
    flex-direction: column;
  }
}

.features__title {
  font-family: Lifehack;
  font-size: rem(24px);
  text-align: center;
  color: #2f3234;
  margin-bottom: rem(14px);

  @include phones {
    text-align: left;
  }
}

.features__desc {
  font-family: ubuntulight;
  font-size: rem(14px);
  line-height: rem(24px);
  color: rgba(#2f3234, .8);
  text-align: center;
  
  @include phones {
    text-align: left;
  }
}