.burgers {
    height: 100vh;
    min-height: rem(650px);
    background-image: -moz-linear-gradient( 90deg, rgb(249,180,59) 0%, rgb(235,140,56) 48%, rgb(249,180,59) 74%);
    background-image: -webkit-linear-gradient( 90deg, rgb(249,180,59) 0%, rgb(235,140,56) 48%, rgb(249,180,59) 74%);
    background-image: -ms-linear-gradient( 90deg, rgb(249,180,59) 0%, rgb(235,140,56) 48%, rgb(249,180,59) 74%);
    .container {
        display: flex;
        align-items: center;
    }
}


.burgers__list-wrap {
    position: relative;
}

.burgers__list {
    @include tablets {
        width: rem(644px);
        margin: 0 auto;
    }
}

.burgers__item {
    display: flex;
    justify-content: space-between;
    min-height: rem(472px);

    @include tablets {
        flex-direction: column;
    }
}

.burgers__item-left, .burgers__item-right {
    width: 48.93%;

    @include tablets {
        width: 100%;
    }
}

.burgers__item-right {
    text-align: center
}

.burgers__item-left {
    background: url('../img/burger-pic.png') center center no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablets {
        flex-direction: row;
        min-height: rem(390px);
        width: rem(472px);
        background-position: center bottom;
        background-size: 100%;
        margin: 0 auto;
    }

    @include phones {
        width: 100%;
        min-height: rem(360px);
        background-size: 85%;
        margin-bottom: rem(25px);
    }

    @media (max-width: 376px) {
        min-height: rem(280px);    
    }
}



.burger__consist {
    width: rem(90px);
    height: rem(90px);
    padding: rem(5px);
    background-color: rgba($red, .4);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    cursor: pointer;
    transition: all .2s;
    &:hover {
        background-color: $red;
        .burger__consist-content {
            left: 100%;
        }
    }
}

.burger__consist-pic {
    width: rem(49px);
    height: rem(45px);
    fill: $white;
}

.burger__consist-text {
    text-transform: uppercase;
    font-family: gagalin;
    font-size: rem(14px);
    color: $white;
}

.burger__consist-content {
    position: absolute;
    left: -9999px;
    top: 0;
    border-radius: 5px;
    overflow: hidden;
    width: rem(270px);
    display: block;
    cursor: default;
    &:after {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: rem(30px);
        left: 0;
        margin-left: rem(-25px);
    }
}

.burger__consist-list {
    background-color: rgba($white, .9);
    padding: rem(18px) rem(20px);
}

.burger__consist-item {
    display: flex;
    align-items: center;
    margin-bottom: rem(18px);
    &:last-child {
        margin-bottom: 0;
    }
}

.burger__consist-item-pic {
    width: rem(45px);
    height: rem(39px);
    margin-right: rem(35px);
}

.burger__consist-item-pic--red {
    fill: $red;
}

.burger__consist-item-pic--yellow {
    fill: $yellow;
}

.burger__consist-item-pic--green {
    fill: $green;
}

.burger__consist-item-text {
    font-size: rem(14px);
    margin-right: auto;
}

.burger__consist-item-weight {
    font-size: rem(14px);
    font-family: ubuntulight;
}

.burger__calories {
    width: rem(60px);
    height: rem(80px);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.burger__calories-pic {
    width: 100%;
    fill: rgba($white, .5);
    width: rem(60px);
    height: rem(60px);
    position: absolute;
}

.burger__calories-num {
    display: block;
    font-family: gagalin;
    font-size: rem(20px);
    color: rgba($white, .5);
    margin-top: rem(30px);
}

.burger__calories-text {
    display: block;
    font-family: gagalin;
    font-size: rem(14px);
    color: rgba($white, .5);
}

.burgers__item-title {
    font-size: rem(72px);
    color: $white;
    font-family: gagalin;
    font-weight: 300;
    line-height: rem(72px);
    margin-bottom: rem(50px);

    @include tablets {
        width: 75%;
        margin: 0 auto;
    }

    @include phones {
        font-size: rem(50px);
        line-height: 1;
    }
}

.burgers__item-desc {
    margin-bottom: rem(30px);
    p {
        font-size: rem(14px);
        line-height: rem(24px);
        font-family: ubuntulight;
        color: $white;
    }
}

.burgers__item-order {
    display: flex;
    align-items: flex-end;

    @include tablets {
        justify-content: center;
        align-items: center;
    }

    .order-btn {
        @include tablets {
            margin-top: rem(24px);
        }
    }
}

.burgers__item-price {
    font-family: gagalin;
    font-size: rem(30px);
    line-height: rem(30px);
    color: $red;
    font-weight: 300;
    margin-right: rem(30px);
}

.price-digit {
    font-size: rem(72px);
    line-height: rem(72px);
}

.burgers__btn {
    display: block;
    width: 15px;
    height: 27px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.burgers__btn--prev {
    background-image: url('../img/prev-btn.png');
    background-repeat: no-repeat;
    background-position: center center;
    right: 100%;
    margin-right: 20px;
}

.burgers__btn--next {
    background-image: url('../img/next-btn.png');
    background-repeat: no-repeat;
    background-position: center center;
    left: 100%;
    margin-left: 20px;
}