.main-footer {
    background-image: url('../img/footer-bg.jpg');
    background-size: cover;
    background-repeat: repeat-x;
    .container {
        display: flex;
        min-height: rem(58px);
        align-items: center;
    }
}

.footer__contacts {
    margin-right: auto;
}

.footer__address {
    font-family: ubuntulight;
    color: $white;
    font-size: rem(14px);
    line-height: rem(24px);
}

.footer__phone {
    display: flex;
    align-items: center;
}

.footer__phone-ico {
    fill: $red;
    width: rem(12px);
    height: rem(12px);
    margin-right: rem(8px);
}

.footer__phone-text {
    font-family: ubuntubold;
    font-size: rem(14px);
    line-height: rem(24px);
    color: $red;
}

.footer__social-list {
    display: flex;
}

.footer__social-item {
    margin-right: rem(20px);
    &:last-child {
        margin-right: 0;
    }
}

.footer__social-link {
    &:hover {
        .footer__social-ico {
            fill: $white;
        }
    }
}

.footer__social-ico {
    width: rem(20px);
    height: rem(20px);
    fill: rgba($white, .3);
    transition: all .2s;
}