.main-header {
  min-height: rem(650px);
  height: 100vh;
  background-image: url('../img/header-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: rem(12px);
  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.nav-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  @include tablets {
    min-height: 65px;
  }
}

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 70px;

  @include tablets {
    position: absolute;
    right: -9999px;
  }
}

.nav--active {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(#2f3234, .99);
  z-index: 5;
}

.logo {
  font-size: 0;
  display: block;
  width: rem(92px);
  margin-right: auto;
}

.logo--active {
  z-index: 10;
}

.logo-img {
  width: 100%;
  display: block;
}

.nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: rem(507px);
  margin-right: rem(15px);

  @include tablets {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 0;
  }
}

.nav__item {
  float: left;
  position: relative;
  margin-right: rem(36px);
  &:last-child {
    margin-right: 0;
    &::after {
      display: none;
    }
  }
  &::after {
    display: block;
    content: '';
    width: 4px;
    height: 4px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: rem(15px);

    @include tablets {
      position: static;
      margin: rem(25px) auto;

    }
  }

  @include tablets {
    text-align: center;
    margin-right: 0;
  }
}

.nav__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: rem(13px);
  line-height: rem(30px);
  display: block;
  border-bottom: 1px solid transparent;
  transition: all .2s;
  &:hover {
    border-bottom: 1px solid #fff;
  }

  @include tablets {
    font-size: rem(24px);
    display: inline-block;
  }
}

.order-btn {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: rem(13px);
  display: block;
  background-color: #e45028;
  width: rem(98px);
  text-align: center;
  border-radius: 5px;
  padding: rem(10px) 0;
  transition: all .2s;
  &:hover {
    background-color: #c1401e;
  }

  @include tablets {
    margin-right: 30px;
  }
}

.burger {
  height: 22px;
  width: 24px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;

  @include tablets {
    display: flex;
  }
}

.burger--active {
  z-index: 10;
  position: relative;
  .burger__line {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #c1c2c2;
    transition: all .2s;
    &:nth-child(2) {
      display: none;
    }
    
    &:nth-child(1) {
      transform: rotate(45deg);
    }

    &:nth-child(3) {
      transform: rotate(-45deg);
    }
  }
}

.burger__line {
  width: 24px;
  height: 4px;
  background-color: $white;
  display: block;
  border-radius: 3px;
}

.header-promo {
  padding-left: rem(15px);
  display: flex;
  width: 100%;
  flex-grow: 1;
  align-items: center;
  padding-bottom: 17%;

  @include tablets {
    flex-direction: column;
    padding-left: 0;
    justify-content: center;
  }
}

.header-promo__pic {
  width: rem(450px);
  margin-right: rem(15px);

  @include tablets {
    margin-bottom: rem(30px);
    width: 58.59%;
    margin-right: 0;
  }

  @include phones {
    width: 85%;
  }
}

.header-promo__img {
  width: 100%;
  display: block;
}

.header-promo__text {
  width: rem(405px);
  margin-top: rem(130px);
  
  @include tablets {
    text-align: center;
    margin-top: 0;
  }

  .section-title {
    @include phones {
      font-size: rem(63px);
    }
  }

  .section-subtitle {
    @include phones {
      font-size: rem(54px);
    }
  }
}

.section-title {
  font-size: rem(72px);
  line-height: rem(85px);
  font-family: Gagalin;
  color: #f9b43b;
  margin: 0;
  margin-bottom: rem(13px);
  font-weight: 300;

  @include phones {
    font-size: rem(50px);
  }
}

.section-subtitle {
  font-family: Lifehack;
  font-size: rem(65px);
  line-height: rem(65px);
  color: #fff;

  @include phones {
    line-height: 1;
  }
}

.points__list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: rem(90px);
  left: 100%;
  margin-left: rem(-65px);
  z-index: 10;

  @include tablets {
    display: none;
  }
}

.points__item {
  width: 16px;
  height: 16px;
  border: 1px solid transparent;
  border-radius: 50%;
  position: relative;
  margin-bottom: 5px;
  &:last-child {
    margin-bottom: 0;
  }
}

.points__item--active {
  border-color: #fff;
}

.points__link {
  display: block;
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.scroll-arrow {
  display: block;
  width: rem(31px);
  height: rem(15px);
  background-image: url('../img/down-arrow.png');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: rem(-58px);
}