.menu {
    min-height: rem(650px);
    height: 100vh;
    background: url('../img/menu-bg.jpg') center center no-repeat;
    background-size: cover;
    position: relative;

    .section-title--white {
        color: $white;
        position: absolute;
        top: rem(110px);
        left: rem(95px);

        @include tablets {
            left: rem(24px);
        }

        @include phones {
            left: rem(60px);
            top: rem(60px);
        }
    }
}

.menu-acco {
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.menu__list {
    display: flex;
    height: 100%;
    @include phones {
        justify-content: flex-end;
        width: 100%;
    }
}

.menu__item {
    display: flex;
    height: 100%;
    z-index: 10;
    @include phones {
        width: 13%;
        transition: all .3s;
    }
}

.menu__item--active {
    @include phones {
        width: 74%;

        .menu__item-title {
            width: 26%;
        }

        .menu__item-text {
            width: 100%;
        }
    }
    .menu__item-title-text {
        color: $yellow;
    }
}

.menu__item--meat {
    .menu__item-title {
        background-image: url('../img/meat-acco.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}

.menu__item--vegan {
    .menu__item-title {
        background-image: url('../img/vegan-acco.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}

.menu__item--diet {
    .menu__item-title {
        background-image: url('../img/diet-acco.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}

.menu__item-title {
    width: rem(80px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    @include tablets {
        align-items: flex-end;
    }
}

.menu__item-title-text {
    font-family: gagalin;
    font-size: rem(40px);
    color: $white;
    position: absolute;
    transform: rotate(-90deg);
    white-space: nowrap;

    @include tablets {
        transform: rotate(-90deg) translate(50%);
    }
}

.menu__item-text-wrap {
    width: 0;
    overflow: hidden;
    background-color: rgba(#2f3234, .93);
    transition: all .3s;
}

.menu__item-text {
    height: 100%;
    width: rem(540px);
    padding: rem(60px) rem(30px);
    p {
        font-family: ubuntulight;
        font-size: rem(14px);
        color: $white;
    }
}