.team {
    min-height: 650px;
    height: 100vh;
    background: url('../img/team-bg.jpg') center center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    .section-title {
        margin-bottom: 90px;
        text-align: center;
    }
}

.team__acco {
    width: 49.09%;
    height: 100%;
    background-color: rgba($black, .93);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: rem(80px);

    @include tablets {
        width: 100%;
        padding-left: 0;
        align-items: center;
    }
}

.team__acco-item {
    margin-bottom: rem(40px);
    &:last-child {
        margin-bottom: 0;
    }

    @include tablets {
        text-align: center;
    }
}

.team__acco-item--active {
    .team__user-title {
        color: $yellow;

        &:before {
            transform: rotate(180deg);
        }
    }

    .team__user-content {
        display: flex;
        @include tablets {
            flex-direction: column;
        }
    }
}

.team__user-title {
    font-family: gagalin;
    color: $white;
    font-size: rem(14px);
    line-height: rem(28px);
    display: flex;
    align-items: center;
    margin-bottom: rem(15px);
    &:before {
        display: block;
        content: '';
        border: 5px solid transparent;
        border-top-color: $yellow;
        width: 0;
        height: 0;
        border-bottom: none;
        margin-right: 10px;
    }

    @include tablets {
        justify-content: center;
    }

    @include phones {
        font-size: rem(25px);
    }
}

.team__user-content {
    display: flex;
    align-items: center;
    padding-left: rem(16px);
    display: none;

    @include tablets {
        padding-left: 0;
    }
}

.team__user-ava {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-right: rem(20px);

    @include tablets {
        margin-right: 0;
    }
}

.team__user-desc {
    font-size: rem(14px);
    line-height: rem(24px);
    color: $white;
    width: rem(220px);

    @include tablets {
        width: rem(360px);
    }
}

.team__user-occupation {
    font-family: ubuntubold;
}

.team__user-text {
    p {
        font-family: ubuntulight;
    }
}